langchain
langchain_community
ipykernel
pymupdf
pypdf
bs4
arxiv
wikipedia
langchain-text-splitters
python-dotenv
sentence_transformers
langchain_huggingface
streamlit
langchain-ollama
langsmith
beautifulsoup4
faiss-cpu
langchain_groq
fastapi[standard]
mcp[cli]
requests
pyautogui
